.custom__button {
  background-color: rgb(238, 237, 237);
    color: var(--color-black);
    font-family: var(--font-base);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    padding: 0.7rem 1rem;
    border-radius: 1px;
    border: none;
    outline: none;
    cursor: pointer;
}
